<template bindable="searchNomination, advancedOptions, competencies, statuses, callsearch">
  <div>
      <brainy-input md-label="nominator name"
           md-brainy-pattern="^[a-z\d]+(\s[a-z\d]+)*$" md-brainy-max-length="30"
           md-validate="true"
           md-validate-error="Please enter a valid nominator name"
           md-brainy-value.bind="searchNomination.nominatorName | toLowercase"
           >
      </brainy-input>

     <brainy-input md-label="nominee name"
            md-brainy-pattern="^[a-z\d]+(\s[a-z\d]+)*$" md-brainy-max-length="30"
            md-validate="true"
            md-validate-error="Please enter a valid nomenee name"
            md-brainy-value.bind="searchNomination.nomineeName | toLowercase"
            >
     </brainy-input>

      <select required md-select="disabled.bind: disabled" value.two-way="searchNomination.competence">
        <option value="" selected>Choose competence</option>
        <option repeat.for="competence of competencies | objectKeys" bind.value="competence">
          ${competence}
        </option>
      </select>

      <select required md-select="disabled.bind: disabled" value.two-way="searchNomination.status">
        <option value="" selected>Choose status</option>
        <option repeat.for="status of statuses" bind.value="status">
          ${status}
        </option>
      </select>
      <div class="col s6">
        <input md-datepicker="container: body; value.two-way: searchNomination.startDate; options.bind:advancedOptions"
        type="date" placeholder="pick start date" />
      </div>
      <div class="col s6">
        <input md-datepicker="container: body; value.two-way: searchNomination.endDate; options.bind:advancedOptions"
        type="date" placeholder="pick end date" />
      </div>
      <div class="center-align">
        <button md-button click.delegate="callsearch()"><i class="material-icons">search</i></button>
      </div>
  </div>
</template>
