<template>
  <require from ="./skill-rating"></require>
  <require from ="../badges.html"></require>
  <div class="viewer">
    <md-card>
      <h2>Profile View</h2>
      <div class="profile-primary">
        <div class="profile-image">
          <img src="${user.photo}"/>
        </div>
        <div class="profile-names">
          <h3>${user.names}</h3>
          <p>${user.position}</p>
          <p class="profile-icon">
            <i class="material-icons">mail</i>
            <a href="mailto:${user.email}">
              <span> ${user.email}</span>
            </a>
          </p>
          <p class="profile-icon">
            <i class="material-icons">settings_phone</i>
            <a click.delegate="user.showSkype()" href>
              <span> ${user.skype}</span>
            </a>
          </p>
          <p class="profile-icon">
            <i class="material-icons">place</i>
            <span> ${user.location}</span>
          </p>
          <p class="profile-icon">
            <i class="material-icons">language</i>
            <span> ${user.englishLevel}</span>
          </p>
        </div>
        <div class="profile-primary">
          <badges badges.bind="badges"></badges>
        </div>

        <div class="profile-primary">
          <div class="fluid-element-list">
            <div class="chip" repeat.for="tag of usertags" >
              <i click.delegate="deleteTagOnUser(tag.id)" class="material-icons">close</i>
              <i class="material-icons">label</i>
              ${tag.name}
            </div>
          </div>

          <div class="actions">
            <button md-button md-waves md-sidenav-collapse="ref.bind: sideNavRight;" disabled.bind="isSamePersonToNominate">
              <i class="left material-icons">add_circle_outline</i>
              Add tag
            </button>
          </div>

          <div class="actions">
            <button md-button md-waves click.delegate="openNominateModal(user)" disabled.bind="isSamePersonToNominate">
              <i class="left material-icons">whatshot</i>
              Nominate
            </button>
          </div>
        </div>

        <div class="profile-primary">
          <div if.bind="isAwarded" >
            <h5 class="profile-colum-default">Recognitions</h5>
            <div class="center-align">
              <ul md-collapsible="accordion: true; popout: true;">
                <li class="col m2" repeat.for="award of awards">
                  <div class="collapsible-header user-skill-name" style="text-align: center">
                    <img src="images/${award.competence}.png" width="auto" height="50"/>
                    ${award.dates.length}
                  </div>
                  <div class="collapsible-body user-skill-detail" style="text-align: center">
                    <div repeat.for="date of award.dates">${date}</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <h5 class="profile-colum-default">About</h5>
          <p class="profile-colum-default">${user.summary}</p>
          <div class="profile-colum-default">
              <skill-rating user.bind="user"
                  update-property.bind="'guestLevel'">
                <h5>Skills</h5>
              </skill-rating>
          </div>
        </div>

        <div class="actions">
          <button md-button click.trigger="back()" type="button">
            <i class="left material-icons">chevron_left</i>Back</button>
        </div>
      </div>
    </md-card>
  </div>

  <md-sidenav view-model.ref="sideNavRight" md-edge="right">
    <tag-list action.call="tagUser(tag.id)"></tag-list>
  </md-sidenav>
  <create-tag-modal></create-tag-modal>
  <nominate-modal></nominate-modal>
</template>
