<template>
  <slot></slot>
  <ul md-collapsible="accordion: true; popout: true;">
    <li repeat.for="skill of user.skillList" class="user-skill collection-item">
      <div class="collapsible-header user-skill-name">
        <div title="${skill.name}">
          ${skill.name}
          <small class="hide-on-med-and-up">(${skill.myLevel}/5)</small>
        </div>
        <brainy-rating settings.bind="{ratingName: 'myLevel', rating: skill}">
        </brainy-rating>
      </div>
      <div class="collapsible-body user-skill-detail">
        <div if.bind="skill.averageLevel">
          <div>Others value this skill of ${user.names}</div>
          <brainy-rating
            settings.bind="{ratingName: 'averageLevel', rating: skill}">
          </brainy-rating>
        </div>
        <div>
          <div>How do you value this skill for ${user.names}?</div>
          <rating
            update-rate.bind="updateRateEndorse()"
            settings.bind="{ ratingPropertyName: updateProperty }"
            rating.bind="skill"></rating>
          <div if.bind="skill.guestLevel">
            <a class="btn-flat warn" click.trigger="deleteRateEndorse(skill)">
              Remove valuation
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</template>
