<template>
  <md-navbar role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo hide-on-med-and-down">
        <span translate="app.commons.name"></span>
      </a>
      <ul class="right">
        <li md-waves class="hide-on-med-and-down">
          <a href="#benefits" translate="landing:navigation.benefits">Benefits</a></li>
        <li md-waves class="hide-on-med-and-down">
          <a href="#aboutus" translate="landing:navigation.about-us">About Us</a></li>
        <li md-waves class="hide-on-med-and-down">
          <a href="#contactus" translate="landing:navigation.contact-us">Contact Us</a></li>
        <li>
          <a md-dropdown="activates: languageDropdown">
            <span translate="navigation.language-selection">Language</span>
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </md-navbar>
  <ul id="languageDropdown" class="dropdown-content">
    <li><a click.trigger="change({language: 'en'})">English</a></li>
    <li><a click.trigger="change({language: 'es'})">Español</a></li>
  </ul>
</template>
