<template>
  <slot></slot>
  <ul md-collapsible="accordion: true; popout: true;">
    <li repeat.for="skill of user.skillList" class="user-skill collection-item">
      <div class="collapsible-header user-skill-name">
        <div title="${skill.name}">
          ${skill.name}
          <small class="hide-on-med-and-up">(${skill.myLevel}/5)</small>
        </div>
        <brainy-rating settings.bind="{ratingName: 'myLevel', rating: skill}">
        </brainy-rating>
      </div>
      <div class="collapsible-body user-skill-detail">
        <div if.bind="skill.averageLevel">
          <div>Others value your skill</div>
          <brainy-rating
            settings.bind="{ratingName: 'averageLevel', rating: skill}">
          </brainy-rating>
        </div>
        <div>
          <div>Update your level</div>
          <rating
            settings.bind="{ratingPropertyName: updateProperty}"
            rating.bind="skill"></rating>
          <div if.bind="skill.myLevel">
            <a class="btn-flat warn" click.delegate="removeItem(skill)">
              Remove skill
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</template>
