.user-skill {
  @extend .row;

  .user-skill-name > div {
    @extend .col;
    @extend .s12;
    @extend .m6;
    @extend .truncate;
  }

  .collapsible-header brainy-rating {
    @extend .col;
    @extend .hide-on-small-and-down;
    @extend .m6;
  }

  .user-skill-detail {
    @extend .container;
    padding: 1.5em .75em;
  }
}

brainy-rating {
  display: block;

  ul {
    display: table-row;
  }

  li {
    display: table-cell;
  }
}
